<template>
  <div class="twelve full-width column">
    <table class="ui basic table">
      <thead>
        <tr class="center aligned">
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned" v-for="(encuesta, index) in encuestas" :key="index">
          <td>
            <div>{{encuesta.titulo}}</div>
          </td>
          <td>{{encuesta.descripcion}}</td>
          <td>
            <div class="ui animated fade green button" @click="mostrarModal">
              <div class="visible content">Participar</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </div>
            <div class="ui animated fade red button">
              <div class="visible content">Eliminar</div>
              <div class="hidden content">
                <i class="right trash icon"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui modal">
      <encuesta></encuesta>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Encuesta from './Encuesta';
import config from '../config';
export default {
  name: "home",
  data() {
    return {
      encuestas: []
    }
  },
  methods: {
    fetchEncuestas() {
      axios.get(`${config.dbURL}/encuestas`).then(response => this.encuestas = response.data.encuestas);
    },
    mostrarModal(){
      $('.ui.modal').modal('show');
    }
  },
  mounted() {
    this.fetchEncuestas();
  },
  components: {
    Encuesta
  }
}
</script>

<style scoped>
table {
  width: 100%;
}
</style>
