<template>
  <div>
    <div class="ui grid">
      <div class="row centered aligned">
        <h1>EncuestApp</h1>
      </div>
      <div class="row centered aligned">
        <router-view></router-view>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style scoped>
.grid {
  padding: 15%;
}
</style>
